<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ValheimToolerLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ValheimToolerLauncher.Properties.Settings>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="installedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="updateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </ValheimToolerLauncher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAPICodePack" publicKeyToken="8985beaab7ea3f04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5.0" newVersion="1.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2849.39" newVersion="1.0.2849.39" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2849.39" newVersion="1.0.2849.39" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
